asgiref==3.8.1
babel==2.17.0
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Django==5.1.4
dotenv==0.9.9
et_xmlfile==2.0.0
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mysql==0.0.3
mysql-connector-python==9.1.0
mysqlclient==2.2.6
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
Pigments==1.6
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PythonTurtle==0.3.2
pytz==2025.1
pywin32==308
requests==2.32.3
scripts==3.0
six==1.17.0
source==1.2.0
sqlparse==0.5.2
stua==0.3
termcolor==2.5.0
tkcalendar==1.6.1
tzdata==2024.2
urllib3==2.2.3
waitress==3.0.2
Werkzeug==3.1.3
